input[type='date'],
input[type='text'],
input[type='password'],
input[type='tel'],
input[type='number'],
input[type='email'],
select,
textarea {
  border-radius: 5px;
  border: 1px solid #545f7d26;
  padding: 12px 15px !important;
  background: white;
  width: 100%;
  &:focus-visible {
    outline: none;
  }
  &::placeholder {
    font-size: 14px;
    font-weight: 400;
  }
}

.card {
  @apply rounded px-7 lg:px-10 py-10;
  box-shadow: 0px 4px 10px 0px #cfcfcf40;
  background-color: white;
}

.shadow {
  // box-shadow: 0px 4px 10px 0px #cfcfcf40;
}

.active-link {
  color: #213f7d;
  pointer-events: none;
  border-left: 3px solid #39cdcc;
  padding: 15px 20px;
  @apply bg-gray-50 hover:bg-primary;
}

.non-active-link {
  color: #9ba4bb;
  padding: 15px 20px;
  @apply hover:bg-gray-50 hover:text-primary;
}
