.dashboard {
  font-family: 'Work Sans', sans-serif;

  .sidebar {
    .active-link {
      color: #213f7d;
      pointer-events: none;
      border-left: 3px solid #39cdcc;
      padding: 15px 20px;
      @apply bg-[#F3FCFC] hover:bg-primary font-medium;
    }

    .non-active-link {
      color: #8790a6;
      padding: 15px 20px;
      @apply hover:bg-[#F3FCFC] hover:text-primary;
    }
  }

  .card {
    @apply rounded px-7 lg:px-10 py-10;
    box-shadow: 0px 4px 10px 0px #cfcfcf40;
    background-color: white;
  }
}

.mobile-menu {
  .active-link {
    color: #213f7d !important;
    pointer-events: none;
    @apply font-medium;
  }
  .non-active-link:hover {
    @apply hover:text-primary;
  }
}
